<template>
 <b-navbar toggleable="md" type="dark">
    <b-nav is-nav-bar class="ml-auto">
      <b-button class="g-signin-button"
        @click="handleLogout()">
         Logout
      </b-button>
    </b-nav>
</b-navbar>
</template>

<script>
  export default {
    name: 'DashBoardNav',
    data () {
      return {
      }
    },
    methods: {
      handleLogout () {
        localStorage.removeItem('JWT')
        this.$router.push('/')
      }
    },
    mounted: function () {
    }
  }
</script>

<style>
</style>
