<template>
  <div>
  <dashboard-nav></dashboard-nav>
  <b-container class="bv-example-row" fluid>
    <b-row>
      <b-col cols="10" class="elo">
        <form>
          <div class="form-group">
            <input class="form-control" v-model="task_string" v-on:keyup.enter="onEnterClick"
                   placeholder="Enter task description">
          </div>
        </form>
      </b-col>
      <b-col col></b-col>
    </b-row>
    <b-row>
      <b-col cols="1">
      </b-col>
      <b-col cols="6" class="elo2">
          <div class="form-group" v-for="item in items.filter(active)" v-bind:key="item.id">
            <h5>
              <b-badge variant="primary" v-for="hash in item.hash" :key="hash">
                {{ hash }}
              </b-badge>
            </h5>
            <b-input-group>
              <b-input-group-button slot="left">
                <b-dropdown variant="info" right split text="Done" @click.stop="setInactive(item)">
                  <b-dropdown-item>Item 1</b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>Item 3</b-dropdown-item>
                </b-dropdown>
              </b-input-group-button>

              <b-form-input @click.native="tiger(item)" @keydown.native="update_task(item)" :value="item.description"></b-form-input>

              <b-input-group-button slot="right">
                <b-btn variant="warning">{{ item.project }}</b-btn>
              </b-input-group-button>

            </b-input-group>
          </div>

          <div class="form-group" v-for="item in items.filter(inactive)" v-bind:key="item.id ">
            <b-input-group>
              <b-input-group-button slot="left">
                <b-dropdown variant="success" right split text="Undone">
                  <b-dropdown-item>Item 1</b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>Item 3</b-dropdown-item>
                </b-dropdown>
              </b-input-group-button>

              <b-form-input :value="item.description"></b-form-input>

              <b-input-group-button slot="right">
                <b-btn variant="warning">{{ item.project }} </b-btn>
              </b-input-group-button>

            </b-input-group>
          </div>

      </b-col>
      <b-col col></b-col>
    </b-row>
  </b-container>
  </div>
</template>

<script>
import DashBoardNav from './dashboardnav/DashBoardNav.vue'

export default {
  components: {
    'dashboard-nav': DashBoardNav
  },

  name: 'DashBoard',
  login: false,
  data () {
    return {
      // Note 'isActive' is left out and will not appear in the rendered table
      task_string: '',
      fields: {
        actions: {label: ' '},
        description: {label: 'Description', thClass: 'col-11'}
      },
      items: []
    }
  },
  methods: {
    tiger: function (item) {
      item.description = item.data
    },
    update_task (item) {
      if (event.which === 13) {
        let taskId = item['id']
        this.$http.put('http://skive-backend.herokuapp.com/tasks/' + taskId, { 'data': event.target.value }).then(response => {
          this.items.push(response.data)
          let id = this.items.indexOf(item)
          this.items.splice(id, 1)
        }, response => {})
      }
    },
    onEnterClick: function () {
      this.$http.post('http://skive-backend.herokuapp.com/tasks', { 'data': this.task_string }).then(response => {
        this.items.push(response.data)
        // alert(response.data)
      }, response => {
      })
    },
    setInactive (item) {
      let taskId = item['id']
      this.$http.put('http://skive-backend.herokuapp.com/tasks/' + taskId, { 'data': item.data, 'arguments': { 'active': false } }).then(response => {
        item.active = false
      }, response => {
      })
    },
    active (item) {
      return item.active
    },
    inactive (item) {
      return !item.active
    }
  },
  mounted: function () {
    this.$http.get('http://skive-backend.herokuapp.com/tasks').then(response => {
      var array = JSON.parse(response.data)
      for (let s of array) {
        this.items.push(s)
      }
    }, response => {})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .col {
    border-left: thin solid;
    border-color: #d3d3d3;
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 1%;
  }

  .elo {
    border-bottom: thin solid;
    border-color: #d3d3d3;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
  }

  .elo2 {
    border-bottom: thin solid;
    border-left: thin solid;
    border-color: #d3d3d3;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
  }
  .flip-list-move {
    transition: transform 1s;
  }
</style>
